language: java

# safelist
branches:
  only:
  - master

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

script:
  - cd todo-app
  - jdk_switcher use oraclejdk8
  - ./gradlew assemble
  - echo ${TRAVIS_BUILD_DIR}
  - cd ..
  - echo ${TRAVIS_BUILD_DIR}
  - openssl aes-256-cbc -K $encrypted_1fc90f464345_key -iv $encrypted_1fc90f464345_iv -in ${TRAVIS_BUILD_DIR}/travis-scripts/id_rsa.enc -out ${TRAVIS_BUILD_DIR}/travis-scripts/id_rsa -d
  - chmod 600 ${TRAVIS_BUILD_DIR}/travis-scripts/id_rsa
  - chmod 755 ${TRAVIS_BUILD_DIR}/travis-scripts/deploy.sh
  - ${TRAVIS_BUILD_DIR}/travis-scripts/deploy.sh
